<footer class="footer">
  <small>
    <a href="http://www.frothist.com/">The Frothist</a>
    by Guycorp
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.frothist.com/">News</a></li>
    </ul>
  </nav>
</footer>